.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  padding: 2em 0;
}

.homeGames {
  background-color: var(--dark2);
  margin-top: 1em;
  text-align: center;
}

.homeGamesItem {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.3em 1em 0 1em;
  /* transition: all 0.2s ease-in-out; Apply this in global */
}

.homeGamesItem:hover {
  background-color: var(--dark2);
  box-shadow: 3px 3px 5px 2px var(--dark2);
}