.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--mid);
  color: var(--light);
  padding: 2rem 0;
}

.homeGames {
  background-color: var(--dark2);
  margin-top: 1rem;
  text-align: center;
}

.homeGamesItem {
  background-color: var(--dark);
  color: var(--light);
  padding: 0.3rem 1rem 0 1rem;
  transition: all 0.2s ease-in-out;
}

.homeGamesItem:hover {
  background-color: var(--dark2);
  box-shadow: 3px 3px 5px 2px var(--dark2);
}