.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  padding: 2em 0;
}

.homeGames {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  width: 90%;
  grid-gap: 1rem;
  margin: 1rem 0;
}

.homeGamesItem {
  transition: all 0.2s ease-in-out;
  text-align: center;
  border-radius: 5px;
  background-color: var(--mid);
  color: var(--light);
  padding: 0.3em 1em 0 1em;
}

.homeGamesItem:hover {
  box-shadow: 3px 3px 5px 2px var(--dark2);
  opacity: 0.8;
}