.button {
  background-color: var(--dark);
  color: var(--light);
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.button:hover {
  color: var(--light2);
  box-shadow: 2px 2px 5px var(--dark);
}