.button {
  background-color: var(--mid);
  color: var(--light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
}

.button:hover {
  box-shadow: 3px 3px 5px var(--dark2);
  opacity: 0.8;
}