.audioTrack {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mid);
  border: 1px solid var(--light);
  border-radius: 10px;
}

.audioTrackProgress {
  display: flex;
  margin: 1em;
}

.audioTrackTime {
  margin: 0 1em;
}

/* Progress Bar */
.audioTrackProgressBar {
  --set-before-width: 100px;

  appearance: none;
  position: relative;
  background-color: var(--light);
  width: 50vw;
  height: 10px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

/* For Safari */
.audioTrackProgressBar::-webkit-slider-runnable-track {
  position: relative;
  background-color: var(--light);
  width: 50vw;
  height: 10px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

/* For Firefox */
.audioTrackProgressBar::-moz-range-track {
  position: relative;
  background-color: var(--light);
  width: 50vw;
  height: 10px;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.audioTrackProgressBar::-moz-range-outer {
  border: 0;
}

/* For Chrome & Safari */
.audioTrackProgressBar::before {
  content: "";
  height: 10px;
  width: var(--set-before-width);
  background-color: var(--light2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* For Firefox */
.audioTrackProgressBar::-moz-range-progress {
  background-color: var(--light2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 10px;
}

/* For Chrome & Safari */
.audioTrackProgressBar::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background: var(--dark2);
  cursor: pointer;
  position: relative;
  margin-top: -2px;
  z-index: 3;
  box-sizing: border-box;
}

.audioTrackProgressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--dark);
}

/* For Firefox */
.audioTrackProgressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: transparent;
  background: var(--dark2);
  cursor: pointer;
  position: relative;
  z-index: 3;
  box-sizing: border-box;
}

.audioTrackProgressBar:active:-moz-range-thumb {
  transform: scale(1.2);
  background: var(--dark);
}

/* Buttons */
.audioTrackButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  flex-wrap: wrap;
}

.audioTrackButton>button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0.1em 0.8em;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid black;
  background-color: var(--dark);
  border-radius: 50%;
  color: var(--light);
}

.audioTrackButtonArrow {
  color: var(--light);
  background: var(--dark);
  border: none;
}

.audioTrackGif {
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}