.guessTheNumber {
	display: flex;
	flex-direction: column;
	padding: 1em;
	align-items: center;
	background-color: var(--mid);
	min-height: 80vh;
}

.guessTheNumber h1 {
	font-size: 4vw;
	margin-top: 0;
}

.guessForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 2em;
	border: 2px solid black;
	border-radius: 10px;
	background-color: var(--dark2);
}

.guessFormText {
	padding: 1em;
	border-radius: 10px;
	font-size: 2em;
	background-color: var(--light);
	font-weight: bold;
	width: 80%;
}

.guessFormBtn {
	padding: 0.4em;
	font-size: 1.5em;
	margin-top: 1em;
	border-radius: 10px;
	background-color: var(--dark);
	color: var(--light);
	cursor: pointer;
}

.guessFormBtn:hover {
	background-color: var(--mid);
	color: black;
}

.guessScore {
	align-self: flex-end;
	font-weight: bold;
	font-size: 2em;
	margin-right: 2em;
	margin-top: 1em;
}

.guessScore p {
	margin: 0;
}

@media screen and (max-width: 600px) {
	.guessTheNumber h1 {
		font-size: 5vw;
	}

	.guessForm {
		width: 80%;
		padding: 1em;
	}

	.guessFormText {
		padding: 0.5em;
		font-size: 1.5em;
	}

	.guessFormBtn {
		font-size: 1em;
	}

	.guessScore {
		align-self: center;
		margin-right: 0;
		font-size: 1.5em;
	}
}

@media screen and (max-width: 300px) {
	.guessFormText {
		padding: 0.3em;
		font-size: 1em;
	}

	.guessFormBtn {
		font-size: 0.8em;
	}

	.guessScore {
		font-size: 0.8em;
	}
}
