@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0;
    font-family: "Baloo Bhaina 2", cursive;
    font-size: clamp(1em, 50%, 2em);
    line-height: 1.5;
    transition: all 0.5s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}