.guessTheNumber {
    min-height: 100vh;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5em;
}

.guessTheNumberHeading {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    width: 80%;
}

.guessTheNumberHeading>h3,
.guessTheNumberHeading>h4 {
    align-self: flex-end;
}

.guessTheNumberInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark2);
    padding: 1em;
    border-radius: 10px;
}

.guessTheNumberInput>input {
    font-size: larger;
    outline: none;
    padding: 0.5em;
}

.guessTheNumberInput>div {
    margin: 1em 0;
}

.guessTheNumberInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
}

.guessTheNumberInfo>p {
    font-size: large;
}