.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark2);
    color: var(--light);
    border-top: 1px solid var(--mid);
    min-height: 2em;
    padding: 0.2em 1em;
    font-size: clamp(1.3em, 50%, 2em);
}

.footerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2em;
}

.footerLine {
    background-color: var(--light2);
    height: 25px;
    width: 2px;
    margin: 0 1em;
}

.footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLinksIcon {
    color: var(--light);
    cursor: pointer;
    font-size: 1em;
    margin: 0.5em 0 0 1em;
}