.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--dark);
	flex-wrap: wrap;
}

.navLogo {
	padding: 0em 2em;
}

.navLogoImg {
	margin-top: 0.2em;
	height: 2em;
	filter: invert(100%);
}

.navLinks {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navLinks li {
	list-style: none;
}

.navLinks li a {
	text-decoration: none;
	color: var(--light);
	margin: 0.1em 2em;
	padding: 0.1em;
	font-size: 1.5em;
	font-weight: bold;
}

.navLinks li a:hover {
	background-color: var(--dark2);
	color: var(--light2);
	border-radius: 5px;
}

.navBulb {
	margin: 0 2em;
}

@media screen and (max-width: 620px) {
	.navbar {
		flex-direction: column;
	}

	.navLogoImg {
		margin-top: 1em;
	}

	.navLinks {
		margin: 1em;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 360px) {
	.navLinks li a {
		font-size: 1em;
	}
}
