.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  color: var(--light);
  padding: 0 1rem;
  min-height: 2rem;
  border-bottom: 1px solid var(--dark2);
}

.navLogo {
  margin-top: 0.4rem;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.3rem, 50%, 2rem);
}

.navLinks>li {
  list-style: none;
}

.navLinks>li a {
  font-weight: bold;
  padding: 0 0.3rem;
}

.navLinks>li a:hover {
  background-color: var(--dark2);
  color: var(--light2);
  border-radius: 5px;
}

.navBulb {
  cursor: pointer;
  margin-top: 0.4rem;
}

#navBulbMove {
  margin-right: 0.3rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navLinks {
    flex-wrap: wrap;
  }
}